
  
  a {
    color: white;
  }
  
  a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    
  }
  
  .footerLink {
    text-decoration: none;
    color: black;
  }
  .footerLink:hover
  {
    font-weight: bold;
    color: black;
  
  }
  
  header{
    width: 100%;
    padding: 15%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url(/images/spaceBg.jpg) no-repeat center;  /*U Can use FIXED or SCROLL*/
    background-size:cover;
    display: block;
    top: 0;
  
  
  }
  
  .headerContent {
    
    
    height: auto;
    text-align: center;
  
  
  }
  
  .nav {
    justify-content: center;
    display: flex;
    
  }
  
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
  
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  